<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" media="screen" />
    <link rel="stylesheet" href="css/styleguide.css" media="screen" />
    <link rel="stylesheet" href="css/style.css" media="screen" />
<!--    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen" />-->
<!--    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen" />-->
<!--    <link rel="stylesheet" href="static/css/styleguide.css" media="screen" />-->
</head>
<body>
<div class="main-mob-final">
    <div class="view">
        <div class="div">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
        </div>
        <div class="text-wrapper">YoungRep</div>
    </div>
    <div class="hero">
        <img class="image" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/-------.png" />
        <button class="button"><div class="text-wrapper-2">Записаться на пробную неделю</div></button>
        <div class="text-wrapper-3">Первая неделя — бесплатно!</div>
        <div class="text-wrapper-4">Готовься к ОГЭ<br />со сверстниками!</div>
    </div>
    <div class="view-2">
        <div class="text-wrapper-5">Выбери предметы ОГЭ</div>
        <div class="view-3">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Механика, оптика, электричество</div>
                <div class="view-6">
                    <div class="text-wrapper-6">Физика</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <div class="element-wrapper">
                <img class="element" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031687-11-2.png" />
            </div>
        </div>
        <div class="view-7">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Программиро-<br />вание, алгоритмы</div>
                <div class="view-8">
                    <div class="text-wrapper-7">Информа-<br />тика</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <div class="img-wrapper">
                <img class="img" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031687-14-2-1.png" />
            </div>
        </div>
        <div class="view-9">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Зоология, бота-<br />ника, анатомия</div>
                <div class="view-10">
                    <div class="text-wrapper-8">Биология</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <img class="element-2" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031945-5-1.png" />
        </div>
        <div class="view-11">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Грамматика,<br />устная практика</div>
                <div class="view-12">
                    <div class="text-wrapper-9">Английский</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <img class="element-3" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031945-3-1.png" />
        </div>
        <div class="view-13">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Неорганическая<br />и органическая</div>
                <div class="view-14">
                    <div class="text-wrapper-10">Химия</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <img class="element-4" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031687-11-3.png" />
        </div>
        <div class="view-15">
            <div class="view-4">
                <div class="view-5"></div>
                <p class="div-2"><span class="span">Право, политика, </span> <span class="span">экономика</span></p>
                <div class="view-16">
                    <div class="text-wrapper-11">Общество-<br />знание</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <img class="element-5" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031945-4-1.png" />
        </div>
        <div class="view-17">
            <div class="view-4">
                <div class="view-5"></div>
                <div class="div-2">Физическая и экономическая</div>
                <div class="view-18">
                    <div class="text-wrapper-12">География</div>
                    <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
                </div>
            </div>
            <img class="element-6" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031687-8-1.png" />
        </div>
        <div class="view-19">
            <div class="view-5"></div>
            <div class="div-2">История<br />России и мира</div>
            <div class="view-20">
                <div class="text-wrapper-13">История</div>
                <img class="arrow" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
            </div>
            <img class="element-7" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/5031687-12-1.png" />
        </div>
        <div class="view-21">
            <div class="text-wrapper-14">Алгебра и геометрия.<br />Подготовка к основному экзамену</div>
            <div class="icon">
                <img class="element-8" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/-----------1-1.png" />
            </div>
            <div class="div-3">
                <div class="text-wrapper-15">Математика</div>
                <img class="arrow-2" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
            </div>
        </div>
        <div class="view-22">
            <div class="icon-2">
                <img class="element-9" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/-------2-1-2.png" />
            </div>
            <p class="p">Грамматика, орфография, речь.<br />Подготовка к основному экзамену</p>
            <div class="icon-3">
                <img class="element-9" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/-------2-1-3.png" />
            </div>
            <div class="div-3">
                <div class="text-wrapper-15">Русский язык</div>
                <img class="arrow-2" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/arrow-.svg" />
            </div>
        </div>
    </div>
    <div class="div-4">
        <button class="div-wrapper"><div class="text-wrapper-2">Записаться на пробную неделю</div></button>
        <div class="text-wrapper-16">Рофл-пробники</div>
        <p class="text-wrapper-17">Что это такое и зачем они?</p>
        <p class="text-wrapper-18">Получить рофл-пробник можно на бесплатной пробной неделе!</p>
        <p class="text-wrapper-19">
            Рофл-пробник — пробник по предмету, включающий функционально те же задания, но не скучные, как в обычном
            школьном. В рофл-пробнике можно найти различные отсылки и мемы, которые не дадут соскучиться и добавят вайба в
            твою подготовку. Такая учёба тебе точно понравится!
        </p>
        <div class="view-23">
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
        </div>
        <img class="image-2" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/----------------.png" />
    </div>
    <div class="view-24">
        <div class="text-wrapper-20">Наши тарифы</div>
        <div class="view-25">
            <img class="vector" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-2-2.svg" />
            <img class="vector-2" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-1.svg" />
            <div class="button-2"><div class="text-wrapper-21">Записаться</div></div>
            <p class="element-10">
                4 занятия в мини-группе<br />Персональная обратная связь<br />Доступ к материалам курса<br />Домашка с
                понятными объяснениями
            </p>
            <div class="frame"><div class="text-wrapper-22">Пробная неделя</div></div>
            <div class="text-wrapper-23">Бесплатно</div>
            <div class="view-26"></div>
            <img class="vector-3" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-31.svg" />
        </div>
        <div class="view-27">
            <img class="vector-4" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-2.svg" />
            <img class="vector-5" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-1-2.svg" />
            <div class="button-3"><div class="text-wrapper-21">Записаться</div></div>
            <p class="element-11">
                16 занятий в мини-группе<br />Комфортные консультации еженедельно <br />Рофл-пробники<br />План подготовки
                под твой вайб<br />Доступ к онлайн-платформе<br />Вайбовый чатик с преподавателями
            </p>
            <div class="frame-2"><div class="text-wrapper-24">4 недели</div></div>
            <div class="text-wrapper-25">9 990 ₽</div>
            <img class="vector-6" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-30.svg" />
        </div>
        <div class="view-28">
            <img class="vector-7" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-28.svg" />
            <img class="vector-8" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-27.svg" />
            <div class="button-4"><div class="text-wrapper-21">Записаться</div></div>
            <p class="element-12">
                48 занятий в мини-группе<br />Комфортные консультации еженедельно<br />Рофл-пробники<br />Поддержка с
                любовью 24/7<br />Доступ к материалам на весь год<br />Вайбовый чатик с преподавателями<br />Сертификат об
                ОГЭшной подготовке
            </p>
            <div class="frame-3"><div class="text-wrapper-24">12 недель</div></div>
            <div class="text-wrapper-25">24 990 ₽</div>
            <img class="vector-9" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-29.svg" />
        </div>
    </div>
    <div class="view-29">
        <div class="text-wrapper-26">Для родителей</div>
        <div class="view-30"><div class="text-wrapper-27">Опытные эксперты</div></div>
        <div class="view-31"><div class="text-wrapper-27">Регулярная отчетность</div></div>
        <div class="view-32"><div class="text-wrapper-27">Пробные экзамены</div></div>
        <div class="view-33"><div class="text-wrapper-27">Открытый диалог</div></div>
        <p class="text-wrapper-28">С нами ваш ребенок в надежных руках! Убедитесь сами:</p>
        <p class="text-wrapper-29">
            Наши преподаватели знают все изменения в ОГЭ и умеют заинтересовать предметом, превращая подготовку
            в увлекательный процесс.
        </p>
        <p class="telegram">
            Каждую неделю вы получаете отчёт в Telegram с информацией о посещаемости, оценках за работу на уроке и статусе
            домашнего задания.
        </p>
        <p class="text-wrapper-30">
            Мы проводим полноценные пробные ОГЭ в увлекательной для подростков форме с последующим детальным разбором
            ошибок, чтобы ребёнок шёл на экзамен без паники.
        </p>
        <p class="text-wrapper-31">
            Вы всегда можете задать вопрос преподавателю и получить чёткий ответ о прогрессе и дальнейших шагах
            по подготовке вашего ребёнка. Мы рядом!
        </p>
    </div>
<!--    <div class="view-34">-->
<!--        <div class="text-wrapper-32">Отзывы</div>-->
<!--        <div class="view-35">-->
<!--            <div class="ellipse"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--            <div class="ellipse-2"></div>-->
<!--        </div>-->
<!--        <div class="view-36">-->
<!--            <div class="text-wrapper-33">Константин<br />Константинопольский</div>-->
<!--            <p class="span-wrapper">-->
<!--                <span class="text-wrapper-34">9 класс<br />Результат ОГЭ: 5 (33/33)</span>-->
<!--            </p>-->
<!--            <p class="young-rep">-->
<!--            <span class="text-wrapper-35"-->
<!--            >Благодаря курсу YoungRep я смог значительно улучшить свои знания по русскому. Преподаватели объясняют-->
<!--              сложные темы простым языком, а атмосфера...-->
<!--            </span>-->
<!--                <span class="text-wrapper-36">Развернуть</span>-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="view-37">-->
<!--            <div class="text-wrapper-33">Константин<br />Константинопольский</div>-->
<!--            <p class="span-wrapper">-->
<!--                <span class="text-wrapper-34">9 класс<br />Результат ОГЭ: 5 (33/33)</span>-->
<!--            </p>-->
<!--            <p class="young-rep">-->
<!--            <span class="text-wrapper-35"-->
<!--            >Благодаря курсу YoungRep я смог значительно улучшить свои знания по русскому. Преподаватели объясняют-->
<!--              сложные темы простым языком, а атмосфера...-->
<!--            </span>-->
<!--                <span class="text-wrapper-36">Развернуть</span>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="div-wrapper-2">-->
<!--        <div class="div-5">-->
<!--            <div class="text-wrapper-37">Вопросы&amp;Ответы</div>-->
<!--            <div class="q-a">-->
<!--                <div class="text-wrapper-38">Вопрос 1</div>-->
<!--                <div class="vector-wrapper">-->
<!--                    <img class="vector-10" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-8.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="q-a-2">-->
<!--                <div class="text-wrapper-38">Вопрос 2</div>-->
<!--                <div class="vector-wrapper">-->
<!--                    <img class="vector-10" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-8.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="q-a-2">-->
<!--                <div class="text-wrapper-38">Вопрос 3</div>-->
<!--                <div class="vector-wrapper">-->
<!--                    <img class="vector-10" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-8.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="q-a-2">-->
<!--                <div class="text-wrapper-38">Вопрос 4</div>-->
<!--                <div class="vector-wrapper">-->
<!--                    <img class="vector-10" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-8.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="q-a-2">-->
<!--                <div class="text-wrapper-38">Вопрос 5</div>-->
<!--                <div class="vector-wrapper">-->
<!--                    <img class="vector-10" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/vector-8.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="view-38">-->
<!--        <div class="text-wrapper-39">Записаться на бесплатную пробную неделю</div>-->
<!--        <p class="text-wrapper-40">Заполните форму, и мы свяжемся с вами для организации бесплатной недели обучения.</p>-->
<!--        <div class="view-39">-->
<!--            <div class="view-40"><div class="text-wrapper-41">Введите ваше имя</div></div>-->
<!--            <div class="view-41">-->
<!--                <div class="text-wrapper-42">Имя</div>-->
<!--                <img class="asterisk" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/asterisk-2.svg" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="view-42">-->
<!--            <div class="view-40"><div class="text-wrapper-41">+7 (999) 123-46-67</div></div>-->
<!--            <div class="view-43">-->
<!--                <div class="text-wrapper-43">Телефон</div>-->
<!--                <img class="asterisk" src="https://c.animaapp.com/mfzm16f6O8gbMu/img/asterisk-2.svg" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="view-44">-->
<!--            <div class="view-40"><div class="text-wrapper-41">@username</div></div>-->
<!--            <div class="view-45"><div class="text-wrapper-44">Telegram</div></div>-->
<!--        </div>-->
<!--        <div class="view-46">-->
<!--            <div class="view-40"><div class="text-wrapper-41">Например, математика</div></div>-->
<!--            <div class="view-45"><div class="text-wrapper-44">Предмет</div></div>-->
<!--        </div>-->
<!--        <p class="text-wrapper-45">Нажимая на кнопку, вы даете согласие на обработку персональных данных</p>-->
<!--        <div class="button-5"><div class="text-wrapper-46">Записаться</div></div>-->
<!--    </div>-->
    <div class="view-47">
        <div class="view-48">
            <div class="view-49">
                <p class="span-wrapper-2"><span class="text-wrapper-34">Рофл-пробники</span></p>
            </div>
            <div class="view-50">
                <p class="span-wrapper-3"><span class="text-wrapper-34">Предметы</span></p>
            </div>
            <div class="view-51">
                <p class="span-wrapper-4"><span class="text-wrapper-47">Тарифы</span></p>
            </div>
            <div class="view-52">
                <p class="span-wrapper-5"><span class="text-wrapper-47">Вопросы&amp;Ответы</span></p>
            </div>
            <div class="view-53">
                <p class="span-wrapper-6"><span class="text-wrapper-34">Отзывы</span></p>
            </div>
            <div class="view-54">
                <p class="span-wrapper-7"><span class="text-wrapper-47">Записаться</span></p>
            </div>
        </div>
        <div class="view-55">
            <p class="span-wrapper-8"><span class="text-wrapper-34">Контакты</span></p>
            <div class="text-wrapper-48">+7 (999) 123-45-67</div>
            <div class="text-wrapper-49">info@young-rep.ru</div>
            <div class="text-wrapper-50">@YoungRepBot</div>
        </div>
        <div class="text-wrapper-51">YoungRep</div>
    </div>
</div>
</body>
</html>
