<div class="base-nav">
    <div class="t228__leftside logo" style="margin-top: 0;">
        <div class="t228__leftcontainer" style="padding: 0"><a href="{{ url_for('main.index') }}" class="">
            <div class="t228__logo t-title logo" field="title" style="">YoungRep</div>
        </a></div>
    </div>
    <div class="t228__centerside sig-d" style=" margin-bottom: 0">
        <nav class="t228__centercontainer" style="box-sizing: border-box">
            <ul role="list" class="sig-lu t228__list t-menu__list t228__list_hidden">
                <li class="sig-li "
                    style="padding: 0"><a class="sig-a t-menu__link-item"
                                          href="{{ url_for('main.about') }}"
                                          data-menu-submenu-hook="" data-menu-item-number="1">
                    О нас
                </a></li>



                <li class="sig-li "
                    style=""><a class="sig-a t-menu__link-item "
                                href="{{ url_for('main.questions_and_answers') }}"
                                data-menu-submenu-hook="" data-menu-item-number="5">

                    <!--                                               onclick="a()"-->

                    Вопросы&Ответы
                </a></li>
            </ul>
        </nav>
    </div>

    <div class="t228__rightside but-start pre-start-but" style="height: 75px; ">
        <div class="t228__rightcontainer" style="padding-bottom: 0px">
            <div class="t228__right_buttons" style="padding: 5px">
                <div class="t228__right_buttons_wrap">
                    <div class="t228__right_buttons_but" style="margin: 0">
                        <a class="t-btn t-btn_md but-start" style="
                            color: #fffefe;
                            background-color: #ff2300;
                            border-radius: 5px;
                            -moz-border-radius: 5px;
                            -webkit-border-radius: 5px;
                            box-shadow: 0px 10px 40px -2px rgba(0, 11, 48, 0.3);
                          " data-buttonfieldset="button" onclick="openYoungRepBookingPopup()">
                            НАЧАТЬ ЗАНИМАТЬСЯ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .sig-lu {
        display: flex;
        flex-wrap: wrap; /* если много элементов, перенесутся */
        justify-content: center; /* выравнивание */
        gap: 15px;
        box-sizing: border-box;
    }

    .sig-li {
        font-size: 16px;
        font-family: Ubuntu, sans-serif;
        text-align: center;
    }

    .sig-d {
        margin-bottom: 5px;
    }

    .base-nav {
        transform: translateY(0);
        margin: 25px;
    }

    @media (max-width: 362px) {
        .sig-d {
            margin-bottom: 65px;
        }

    }

    @media (max-width: 768px) {
        .base-nav {
            transform: translateY(25px);
            margin: 0;
        }

        .sig-li {
            display: block !important;
            /*padding-right: 10px;*/
            /*padding-left: 10px;*/
            font-family: Ubuntu, sans-serif;
            font-size: 11px !important;

        }

        .sig-d {
            height: 75px !important;
        }

        .logo {
            height: 35px;
            margin-top: 0;
            font-size: 20px !important;
        }

        .but-start {

            font-size: 10px !important;
            padding: 0px 20px !important;
            display: none;
        }

        .sig-a {
            border: white solid 1px;
            border-radius: 10px;
            padding: 7px;
            transition: all 0.3s ease;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            display: inline-block;
            position: relative;
            overflow: hidden;

        }


        /* Прямоугольный белый блеск */
        .sig-a::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 40px; /* Ширина прямоугольника */
            height: 100%;

            /* Убираем skew для обычного прямоугольника */
            transform: skewX(0deg);

            /* Яркий белый цвет */
            background: rgba(255, 255, 255, 1);

            /* Медленная анимация - 6 секунд */
            animation: rectangleShine 4s infinite ease-in-out;

            /* Добавляем легкое размытие для мягкости */
            filter: blur(2px);
        }

        /* Анимация движения прямоугольника */
        @keyframes rectangleShine {
            0% {
                left: -100px; /* Начинаем за левой границей */
            }
            20% {
                left: 120%; /* Медленно движемся вправо */
            }
            100% {
                left: 120%; /* Остаемся справа до конца цикла */
            }
        }

        /*Эффект при наведении*/
        /*.sig-a:hover {*/
        /*    transform: translateY(-2px);*/
        /*    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);*/
        /*}*/
        /*.sig-a:hover::before {*/
        /*    animation-duration: 8s; !* Еще медленнее при наведении *!*/
        /*}*/
        /* !*Эффект при нажатии*!*/
        /*.sig-a:active {*/
        /*    transform: translateY(0);*/
        /*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
        /*}*/

    }
</style>

<script>
    async function a() {
        // window.location.replace("/").then(change)
        // location.hash = ('#rec842851845')


    }

    async function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    async function change() {
        elem = document.getElementById('rec842851845')
        const y = elem.getBoundingClientRect().top + window.scrollY;
        window.scroll({
            top: y,
            behavior: 'smooth'
        });
    }
</script>